<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      TEST EMBED
    </title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body class="works_on_smartphone">
  	

    <header>
      {% if messages  %}
      <ul class="messages">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
      </ul>
      {% endif %}
  	</header>
  	<main>
      <div style="padding:40px;margin:40px;border:1px solid #ccc">
    <h1>Django File Upload</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
    {% if documents %}
    <button><a href="http://127.0.0.1:8000/upload">Upload To db</a></button>
    {% endif %}
    <ul>
    <!-- {% for document in documents %}
        <li>
            <a href="{{ document.upload_file.url }}">{{ document.upload_file.name }}</a>
            <small>({{ document.upload_file.size|filesizeformat }}) - {{document.upload_date}}</small>
        </li>
    {% endfor %} -->
    </ul>
</div>

     <!--  <p>TEST #1 with iframe tag</p>
  		<iframe src="https://products.aspose.app/pdf/conversion/pdf-to-docx" width="100%" height="300">
  <p>Your browser does not support iframes.</p>
</iframe>
<p>TEST #2 with embed tag</p>
<embed src="https://products.aspose.app/pdf/conversion/pdf-to-docx" style="width:500px; height: 300px;">
 -->
  	</main>
 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>